*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-size: 38px;
  font-display: swap;
  height: inherit;
  justify-content: center;

  background: #99a456;
  background: -webkit-linear-gradient(
    -45deg,
    #99a456 0%,
    #60c4cb 50%,
    #318f6b 100%
  );
  background: linear-gradient(135deg, #c2c3e5 0%, #dac4b2 50%, #dac4b2 50%);
}

.calculator {
  background-color: rgba(153, 152, 153, 0.6);
  border-radius: 14px;
  border: 2px solid black;
  -webkit-box-shadow: 1px -1px 5px 1px rgba(51, 46, 46, 0.69);
  box-shadow: 0px 0px 10px 1px rgba(41, 37, 37, 0.69);
  width: 400px;
  height: 600px;
  padding: 30px 29px;
}

.screen {
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 8px;
  padding: 10px;
  text-align: end;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 100px;
  -webkit-box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.69);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.69);
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  flex-wrap: wrap;
}

.button {
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 35px;
  flex-basis: 23%;
  height: 60px;
  box-shadow: 0px 0px 2px 2px rgba(41, 37, 37, 0.69);
}
.button:hover {
  background-color: #d3d8d8;
}
.button:active {
  background-color: #f1db76;
  box-shadow: 0px 0px 1px 1px rgba(41, 37, 37, 0.69);
}
#delete_btn,
#clear_btn {
  flex-basis: 36%;
}
.double {
  flex-basis: 45%;
}

.highlight {
  background-color: #217555;
}

.highlight:hover {
  background-color: #22684e;
}

.highlight:active {
  background-color: #f1db76;
}

.buttons-row:first-child {
  background-color: #217555;
}
